$black: #292929;
$small: "screen and (max-width: 640px)";

$graphik: "Graphik", Helvetica, Arial, sans-serif;

$h1_size: 33px;
$h1_color: #404040;

$h2_size: 24px;
$h2_color: #404040;

$blue: #3F94FF;
$yellow: #F7E034;
$black: #303030;
$grey40: #404040;
$grey78: #787878;
$greyB4: #B4B4B4;
$greyE0: #E0E0E0;
$greyF8: #F8F8F8;